.header {
  background-color: #1B4C1A;
  color: white;
  padding: 15px;
  font-size: 130%;

  ul {
    list-style-type: none;
    padding: 0;
    // margin: 0 auto;
  }

  img {
    width: 100%;
    max-width: 500px;
  }
}

nav {
  margin: 25px auto;
  width: 230px;
  ul {
    padding-left: calc(50% - 110px);
    padding-bottom: 25px;

    li {
      float: left;
      padding-right: 15px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

#subnav {
  margin-top: 60px;
  text-align: center;

  a {
    color: #008C23;
    font-weight: bold;
    text-decoration: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 50rem) {
  .header {
    padding: 35px 0;
  }
  #subnav {
    position: absolute;
    margin-left: calc(100% - 240px);
    margin-top: -67px;

    ul {
      margin: 0;
    }

    li:nth-child(1) {
      float: left;
      padding-right: 3px;
    }
    li:nth-child(2) {
      padding-left: 3px;
    }
  }
  nav {
    position: absolute;
    margin-top: -63px;
    margin-left: 161px;
    width: 320px;

    ul {
      padding: 0;
    }

    li {
      font-size: 140%;
    }
  }
}

@media (min-width: 62rem) {
  #subnav {
    margin-left: 786px;
  }
}
