.header {
  background-color: #1B4C1A;
  color: white;
  padding: 15px;
  font-size: 130%;

  ul {
    list-style-type: none;
    padding: 0;
    // margin: 0 auto;
  }

  img {
    width: 100%;
    max-width: 500px;
  }
}

.desktop-tel {
  display: none;
}

.tablet-tel {
  display: none;
}

nav {
  margin: 25px auto;
  margin-top: -20px;
  // width: 230px;
  width: 100%;
  // added this
  font-size: 19px;
  ul {
    padding-left: calc(50% - 110px);
    padding-bottom: 25px;

    li {
      float: left;
      padding-right: 15px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
}

#subnav {
  margin-top: 60px;
  text-align: center;
  
  // changed .tel and a all around...
  a {
    color: white;
    text-decoration: none;
  }

  .tel {
    color: #008C23;
  }


  ul {
    padding: 0;
    margin: 0;

    li {
      // added this
      float: left;
      // and this
      margin-left: 20px;
      
      // and all of this
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 585px) {
  .mobile-tel {
    display: none;
  }
  .tablet-tel {
    display: block;
    color: #008C23;
    text-decoration: none;
    margin-left: 370px;
    margin-bottom: -20px;
    margin-top: 10px;
  }
  nav {
    margin-left: 165px;
    margin-top: -70px;
    font-size: 25px;
  }
  #subnav {
    margin-left: 165px;
    padding-top: 10px;
  }
}

@media (min-width: 50rem) {
  .header {
    padding: 35px 0;
  }
  .desktop-tel {
    display: block;
  }
  .tablet-tel {
    display: none;
  }
  #subnav {
    position: absolute;
    margin-left: calc(100% - 240px);
    margin-top: -55px;

    ul {
      margin: 0;
    }

    li:nth-child(1) {
      float: left;
      padding-right: 3px;
    }
    li:nth-child(2) {
      padding-left: 3px;
    }
  }
  nav {
    position: absolute;
    margin-top: -62px;
    margin-left: 161px;
    width: inherit;

    ul {
      padding: 0;
    }

    li {
      font-size: 130%;
    }
  }
}

@media (min-width: 62rem) {
  #subnav {
    margin-left: 786px;
  }
}
